<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.justinmutsito.coolquotes.coolquotes"
          xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
    >

    <uses-permission android:name="com.android.alarm.permission.SET_ALARM"/>
    <uses-permission android:name="android.permission.VIBRATE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        tools:replace="android:icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">

        <activity
            android:name=".SplashScreenActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".WelcomeActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".Categories.CategoriesActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".Authors.AuthorsActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".Favourites.FavouritesActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".Settings.SettingsActivity"
            android:label="@string/settings"
            android:parentActivityName=".WelcomeActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".Categories.CategoryActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".Authors.AuthorActivity"
            android:parentActivityName=".Authors.AuthorsActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".Notifications.NotificationActivity"
            android:parentActivityName=".WelcomeActivity"
            android:screenOrientation="portrait">
        </activity>

        <activity android:name=".Settings.AboutActivity"
                  android:screenOrientation="portrait"
                  android:parentActivityName=".Settings.SettingsActivity"
                  android:label="About">
        </activity>

        <receiver android:name=".Alarms.AlarmReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>    </application>

</manifest>